{
  "parser": "babel-eslint",
  "parserOptions": {
  "sourceType": "module",
  "allowImportExportEverywhere": false,
  "codeFrame": false
},
"extends": ["airbnb", "prettier"],
"env": {
  "browser": true,
  "jest": true
},
"plugins": ["prettier"],
"rules": {
  "prettier/prettier": "error",
  "max-len": ["error", {"code": 100}],
  "class-methods-use-this": ["off"],
  "prefer-promise-reject-errors": ["off"],
  "react/jsx-filename-extension": ["off"],
  "react/prop-types": ["warn"],
  "no-return-assign": ["off"],
  "react/button-has-type": ["off"],
  "react/jsx-one-expression-per-line": ["off"],
  "react/jsx-wrap-multilines": ["error", {"declaration": false, "assignment": false}],
  "jsx-a11y/label-has-for": ["off"],
  "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js", "**/*.spec.js", "**/*.stories.js"]}],
  "no-underscore-dangle": ["error", { "allowAfterThis": true }],
  "react/forbid-prop-types": ["warn"],
}
}