{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:@next/next/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "prettier"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "import/extensions": [
      "off",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "prettier/prettier": "error",
    "max-len": [
      "error",
      {
        "code": 100
      }
    ],
    "class-methods-use-this": [
      "off"
    ],
    "prefer-promise-reject-errors": [
      "off"
    ],
    "react/jsx-filename-extension": [
      "off"
    ],
    "react/prop-types": [
      "warn"
    ],
    "no-return-assign": [
      "off"
    ],
    "no-underscore-dangle": [
      "off"
    ],
    "import/no-extraneous-dependencies": [
      "off"
    ],
    "react/button-has-type": [
      "off"
    ],
    "react/jsx-one-expression-per-line": [
      "off"
    ],
    "react/jsx-wrap-multilines": [
      "error",
      {
        "declaration": false,
        "assignment": false
      }
    ],
    "jsx-a11y/label-has-for": [
      "off"
    ],
    "react/forbid-prop-types": [
      "warn"
    ],
    "react/static-property-placement": [
      "off"
    ],
    "import/no-unresolved": [
      "off"
    ],
    "import/prefer-default-export": [
      "off"
    ],
    "camelcase": [
      "off"
    ],
    "no-unused-vars": [
      "off"
    ]
  }
}