<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <meta name="theme-color">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="manifest" href="/manifest.json">
        <title>Pedro Marquez: Fullstack Sofware Developer</title>
        <style>
        .no-script .contact-card h2 {
            font-size: 1.5em;
            color: grey;
            margin-top: 0px;
        }

        .loading {
          margin:10% auto;
          width:130px;
          padding:20px;
          font-size: 1.5em;
          color: white;
          display: block;
          background: #03A9F4;
          border-radius: 3%;
          cursor: pointer;
          box-shadow: 0 0 0 rgba(3, 169, 244, 0.4);
          animation: loading 2s infinite;
        }
        .loading:hover {
          animation: none;
        }

        @-webkit-keyframes loading {
          0% {
            -webkit-box-shadow: 0 0 0 0 rgba(3, 169, 244, 0.4);
          }
          70% {
              -webkit-box-shadow: 0 0 0 10px rgba(3, 169, 244, 0);
          }
          100% {
              -webkit-box-shadow: 0 0 0 0 rgba(3, 169, 244, 0);
          }
        }
        @keyframes loading {
          0% {
            -moz-box-shadow: 0 0 0 0 rgba(3, 169, 244, 0.4);
            box-shadow: 0 0 0 0 rgba(3, 169, 244, 0.4);
          }
          70% {
              -moz-box-shadow: 0 0 0 10px rgba(3, 169, 244, 0);
              box-shadow: 0 0 0 10px rgba(3, 169, 244, 0);
          }
          100% {
              -moz-box-shadow: 0 0 0 0 rgba(3, 169, 244, 0);
              box-shadow: 0 0 0 0 rgba(3, 169, 244, 0);
          }
        }
        </style>
    </head>
    <body>
        <!-- server-side -->
        <div id="app">
            <div class="no-script container">
                <div class="loading">Loading...</div>
            </div>
        </div>
         <!-- end-server-side -->

        <link rel="stylesheet" type="text/css"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-101513682-1', 'auto');
		  ga('send', 'pageview');

		</script>
    </body>
</html>