{% if post.url %}
        <li class="post-full-row">
		<div class="post-data-part">
		<span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
			<div class="post-row">
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				<br/>
				{{post.short}}
			</div>		
		{% for category in post.categories %}
		<a class ="category" href="/categories?category={{category}}">{{category}}</a>
		{% endfor %}
		</div>
		<span class="post-thumb">
			<img src="{{ site.url }}images/{{post.thumbnail}}" alt="thumb"/>
		</span>
		</li>
{% endif %}