{% if post.url %}
        <li>
		<span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
		<div class="post-row">
		<div style="display:inline">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		<br/>
		{{post.short}}
		</div>
		<img class="post-thumb" src="{{ site.url }}images/thumb-post-default.jpg" alt="thumb"/>
		</div>
		<br/>
		<div class="post-row-categories">
		{% for category in post.categories %}
		<a class ="category" href="/categories?category={{category}}">{{category}}</a>
		{% endfor %}
		</div>
		</li>
{% endif %}