@import "mixins";
$highlight-color: #03a9f4;

h3 {
  font-size: 1.5em;
  color: grey;
}

.blured {
  //color:red;
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.highlighted {
  font-weight: bold;
}

.hidden {
  display: none;
}

.main-instructions {
  font-style: italic;
}

.summary {
  h3 {
    display: inline-block;
  }

  .roles {
    min-height: 38px;
  }
}

.instructions {
  color: $highlight-color;
  display: inline-block;
  &.pulse {
    cursor: pointer;
    box-shadow: 0 0 0 rgba(3, 169, 244, 0.4);
    animation: loading 2s infinite;
    border-radius: 50%;
    width: 20px;
    text-align: center;
    &:hover {
      animation: none;
    }
  }
}

.clear {
  cursor: pointer;
  margin: 5px;
  color: $highlight-color;
  background-color: white;
  border-style: hidden;
}

footer {
  margin: 10px;
  div {
    text-align: center;
  }
  a {
    display: inline-block;
  }
}

.navigation-link {
  height: 20px;
  margin: 5px;
  display: inline-block;
  vertical-align: bottom;
  color: #0067e4;
  -webkit-text-decoration: dotted;
  text-decoration: dotted;
  width: 100%;
  text-align: center;
}

.tags-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
}

.tags-collection--print {
  margin-bottom: 1em;
  font-weight: 600;
}

footer {
  text-align: center;
}
.markdown {
  p, ul {
    margin-top: 0;
    margin-bottom: 0;

    li {
      margin: 0;
    }
  }
}