.rss-feed {
  position: relative;
  padding: 1em;
  padding-top: 2em;
  background-color: $white;
  color: black;
  flex-basis: 50%;
  border-radius: 0.3em;
  margin-top: 2em;
  background-color: darken($white, 5%);
}

@media only screen and (max-width: $screen-xl) {
  .rss-feed {
    max-width: 30em;
    margin: 2em auto;
  }
}

.rss-title {
  color: black;
  font-size: 1.5em;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0.5em;
  width: calc(100% - 1em);
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  background-color: $white;
  border-bottom: 1px solid rgba($grey, 0.9);
}

.rss-content {
  list-style: none;
  padding-left: 0;
  position: relative;
  margin-top: 2em;
}

.rss-item {
  display: flex;
  padding: 1em 0.5em;
  margin-top: 0.5em;
  border-radius: 0.3em;
  background-color: $white;
  color: $black;
  &:hover {
    background-color: darken($white, 10%);
  }
  @include boxShadow;
}

.rss-image {
  flex-shrink: 0;
  padding-right: 0.5em;
}

.rss-date {
  font-size: 0.8em;
  color: darken($grey, 10%);
  padding-top: 3px;
}

.see-all-link {
  margin-top: 0.5em;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 1em;
  background-color: $charcoal-color;
  color: $white;
  border-radius: 0.3em;
  &:hover {
    background-color: lighten($color: $charcoal-color, $amount: 10%);
  }
  @include boxShadow;
}

.announcement {
  padding: 1em;
  padding-top: 2em;
  background-color: #bae5ef;
  color: #004e5f;
  height: fit-content;
  border-radius: 0.3em;
  margin-top: 2em;
  margin-left: 2em;
  flex-basis: 30%;
  height: auto;
  position: relative;

  @media only screen and (max-width: $screen-xl) {
    max-width: 30em;
    margin: 2em auto;
  }

  @include boxShadow($color: $black);
}

.announcement-content {
  text-align: center;
  margin-bottom: 6em;
  margin-top: 2em;
}

.announcement-text {
  p {
    margin-top: 0;
  }

  margin-bottom: 1em;
}

.book-quote {
  background-color: white;
  padding-top: 1em;
  padding-bottom: 1.5em;
  font-size: 0.9em;
  font-style: italic;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}
