@use "sass:color";

.scroll-list-container {
  position: relative;
  min-width: 200px;
  overflow: hidden;
}

.scroll-list-container--scrollable {
  overflow: auto;
  height: fit-content;
  max-height: 8 * 3em;
  @media only screen and (max-width: $screen-lg) {
    max-height: 5 * 3em;
  }
}

.skill-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-list {
  list-style-type: none;
  padding: 0 1.5em;
  margin: 0;

  @media only screen and (max-width: $screen-lg) {
    & {
      padding: 0 1em;
    }
  }
}

.skill-list-column {
  @media only screen and (max-width: $screen-lg) {
    width: 80%;
    padding: 0 1em;
  }
}

.skill-list-separator {
  background-color: $pastel-gree-color;
  width: 100%;
  height: 1em;
  border-radius: 0.05em;
  &.skill-list-separator--top {
    border-top: 1px solid $white;
    background-image: linear-gradient(
      to bottom,
      rgba($charcoal-color, 1),
      rgba($charcoal-color, 0.6),
      rgba($charcoal-color, 0)
    );
  }
  &.skill-list-separator--bottom {
    background-image: linear-gradient(
      to bottom,
      rgba($charcoal-color, 0),
      rgba($charcoal-color, 0.6),
      rgba($charcoal-color, 1)
    );
    border-bottom: 1px solid $white;
  }
}

.skill-action {
  background-color: white;
}

.skill-action button {
  display: flex;
  width: 100%;
  padding: 1em;
  border-radius: 0;
  text-align: center;
  justify-content: left;
  cursor: pointer;
  border: 0.5px solid grey;
}

.progress-bar {
  position: absolute;
  top: 0;
  height: 10px;
  background-color: blue;
  transform-origin: 0%;
  width: 100%;
  z-index: 2;
}

.fade_top {
  --margin-left: 1em;
  position: absolute;
  height: 1em;
  left: calc((var(--margin-left)));
  width: calc(100% - (var(--margin-left) * 2));
  z-index: 4;
  @media only screen and (min-width: $screen-lg) {
    margin: 0 1.5em;
    left: 0;
    width: calc(100% - 1.5em * 2);
  }
}

.skill-pane {
  --font-color: $white;
  --link-font-color: $white;
  color: var(--font-color);
  background-color: darken($charcoal-color, 10%);
  width: 100%;
  padding: 2em 1em;
  position: relative;
  border-radius: 0.5em;
  h2 {
    background-image: linear-gradient(to right, darken(green, 5%), darken(rgb(204, 255, 0), 20%));
    padding: 0.5em;
    border-radius: 0.2em;
    box-shadow: 2px 2px 2px 1px darken(green, 20%);
  }
}

.no-relevant-text {
  color: grey;
}
