.contact-card{
    min-height: 172px;

    h2{
        font-size: 1.5em;
        color: grey;
        margin-top: 0px;
    }

    @media (max-width: 770px) {
        &.contact-card{
            margin:0px;
            padding: 0px;
        }
        .contact-section{
            margin:0px;
            padding: 0px;
        }
    }

    .icon{
        width: 20px;
        display:inline-block;
        margin:7px;
        color:#C2C2C2;
    }

    ul{
        list-style-type: none;
        a{
            height: 20px;
            margin: 5px 5px 5px 0;
            display:inline-block;
            vertical-align: bottom;
        }
    }

    @media (max-width: 770px) {
        .icon{
            margin:5px;
        }
        ul{
            padding: 0;
        }
        li{
            display:inline-block;
            margin-right: 5px;
            margin-left: 5px;
        }
    }

}