.contact-card{
    min-height: 10em;
    display: flex;

    .info {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: baseline;
        h1 {
            flex-basis: 50%;
        }

        h2{
            font-size: 1.5em;
            color: grey;
            margin-top: 0px;
        }

        p {
            margin-bottom: 0.5em;
        }
    }
    
    .contact-section {
        font-size: small;
    }

    .summary {
        flex-basis: 100%;
    }

    .icon{
        width: 20px;
        font-size: 1.5em;
        display:inline-block;
        margin:4px;
        margin-right: 10px;
        color:#C2C2C2;
    }

    ul{
        list-style-type: none;
        margin: 0.5em 0;
        li {
            display: flex;
            margin-bottom: 0;
        }
        
        a{
            height: 20px;
            margin: 5px;
            display:inline-block;
            vertical-align: bottom;
            color: #0067e4;
            text-decoration: dotted;
        }
    }

    @media (max-width: 770px) {
        &.contact-card{
            margin:0px;
            padding: 0px;
            margin: 0.5em;
            flex-direction: column;
        }
        .contact-section{
            margin:0px;
            padding: 0px;
        }

        .icon{
            margin:5px;
            color:#C2C2C2;
        }
        ul{
            padding: 0;
            display: flex;
            flex-wrap: wrap;
        }
        li{
            display:inline-block;
            margin: 0.5em;
        }
    }

    @media print{
        h1 {
            font-size: 2em;
        }
        .icon{
            margin:5px;
            color:#C2C2C2;
        }

        &.contact-card{
            display: flex;
            flex-direction: row;
            ul {
                li {
                    margin: 0.2em;
                }
            }
        }

        .contact-section {
            font-size: small;
            li {
                height:3em;
            }
        }
    }
}