.project {
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  border-color: #8ebffb;
  .role {
    font-weight: bold;
  }
  .start-date {
    font-weight: bold;
  }

  .end-date {
    font-weight: bold;
  }
  .responsabilities {
    li {
      margin: 5px;
    }
  }

  &.disabled {
    color: #7f7f7f;
    border-color: #d4d4d4;

    h3 {
      display: inline-block;
    }
  }

  @media (max-width: 770px) {
    .responsabilities {
      ul {
        padding: 10px;
        word-wrap: break-word;
      }
    }
  }
}

@media print {
  .responsabilities li {
    &:not(.highlighted) {
      display: none;
    }
    .highlighted {
      font-weight: normal;
    }
  }
}

.experience-heading-date {
  font-size: 1rem;
}
