@import "../styles/mixins";

.tag{
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-color: #c9d1d6;
    flex-basis: 130px;
    margin:3px;
    padding:5px;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    line-height:2em;
    min-width: 100px;
    box-shadow: 1px 1px .1rem #bbbbbb;
    @include noselect;
    &:hover, &:focus{
        text-decoration: none;
        background-color: #dae2e7;
    }

    &--selected{
        background-color: #d9eaff;
        text-shadow:0px 0px 1px black;
    }
}

@media print {
  .tag:not(.tag--selected) {
    display: none;
  }
  .tag.tag {
      text-shadow:none;
  }
}

@media (max-width: 720px) {
    .tag{
        padding:8px;
    }
}