.experience__project {
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  border-color: #8ebffb;

  .collapsible-heading {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;

    .collapsible-heading__title {
      padding-right: 10px;
    }

    .collapsible-heading__date {
      font-size: 1rem;
      font-size: medium;
    }

    .collapsible-heading__project {
      max-width: 50%;
      font-size: large;
    }

    .collapsible-heading__role {
      font-size: large;
    }
  }
 
  .start-date {
    font-weight: bold;
  }

  .end-date {
    font-weight: bold;
  }

  .experience--description__collapsed {
    flex-basis: 100%;
  }

  .experience--expand-message {
    font-style: italic;
    flex-basis: auto;
    width: 100%;
    height: 3em;
  }

  .experience--description {
    flex-basis: 80%;
    margin-right: 1em;
  }

  .experience--tooltip {
    color: #6d6c6c;
  }

  .experience--no-print-check {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0;
    font-size: 0.75rem;

    input {
      margin-right: 5px;
    }

    label {
      display: flex;
      align-items: center;
      margin-bottom: 0.5em;

      &  > div {
        width: 110px;
      }
    }
  }

  .responsibilities {
    margin: 0;
    padding-left: 1em;
    width: 100%;

    li {
      margin: 0;

      .expandable__content--inline {
        ul {
          li {
            margin: 0.5em 0;
          }
        }
      }
    }
  }

  .responsibilities--can-exclude {
    padding: 0;
  }

  &.disabled {
    color: #7f7f7f;
    border-color: #d4d4d4;

    h3 {
      display: inline-block;
    }
  }

  @media (max-width: 770px) {
    .responsibilities {
      ul {
        padding: 10px;
        word-wrap: break-word;
      }
    }
  }
}

.markdown p {
  margin: 0.5em 0;
}

@media print {
  .collapsible-heading {
    color: #fffafa;
  }

  .responsibilities {
    padding: 0;
    margin: 0;
    padding-left: 15px;
    
    li {
      margin: 0;

      .highlighted {
        font-weight: normal;
      }
    }
  }

  .experience__project {
    page-break-inside: avoid;
    
    .experience--description {
      flex-basis: 100%;
    }

    ul.responsibilities {
      width: auto;
    }
  }
 
}

.experience__toggle-all {
  margin: 0.5em;
}