---
layout: default
---
<div class="post">
 <article class="post-content">
  {{ content }}
  </article>
  <span id="category-list">
  {% for category in site.categories %}
		<a class ="category" href="/categories?category={{category | first}}">{{category | first}}</a>
	{% endfor %}
	</span>
	{% for category in site.categories %}
	<div class="category-element" id="category-{{category | first}}">
    Category: <div class ="category">{{ category | first }}</div>
	<br/><br/>
    <ul class="posts">	
    {% for posts in category %}
      {% for post in posts %}
	   {% include post-row.html %}
      {% endfor %}
    {% endfor %}
    </ul>
	</div>
{% endfor %}
<script>
function parseGetParams(val) {
    var result = "Not found",
        tmp = [];
    var items = location.search.substr(1).split("&");
    for (var index = 0; index < items.length; index++) {
        tmp = items[index].split("=");
        if (tmp[0] === val) result = decodeURIComponent(tmp[1]);
    }
    return result;
}

 if(parseGetParams("category")!="Not found"){
	document.getElementById("category-list").style.display='none';
 }
 
var catElements = document.getElementsByClassName("category-element");
for(var i = 0; i < catElements.length; i++)
{
   if(catElements[i].id!='category-'+parseGetParams("category")){
	catElements[i].style.display = 'none'; 
	catElements[i].style.visibility = 'hidden';
   }
}


</script>

</div>