$icon-font-path: "~bootstrap/fonts/bootstrap/";

$highlight-color : #03A9F4;

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin noselect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body{
    background: rgba(248, 248, 248, 0.21);
    //font-family: Verdana;
    min-width: 320px;
}

h3{
    font-size: 1.5em;
    color: grey;
}

.blured{
    //color:red;
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.highlighted{
    font-weight: bold;
}

.hidden{
    display:none;
}

.tag{
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-color: #c9d1d6;
    margin:3px;
    padding:5px;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    @include noselect;
    &:hover{
        text-decoration: none;
        background-color: #dae2e7;
    }

    &.selected{
        background-color: #d9eaff;
        font-weight: bold;
    }
}

@media (max-width: 720px) {
    .tag{
        padding:8px;
    }
}

.summary{
    h3{
        display: inline-block;
        margin-right: 10px;
    }

    .roles{
        min-height: 38px;
    }
}

.instructions{
    color:$highlight-color;
    display:inline-block;
    &.pulse{
        cursor: pointer;
        box-shadow: 0 0 0 rgba(3, 169, 244, 0.4);
        animation: loading 2s infinite;
        border-radius: 50%;
        width: 20px;
        text-align: center;
        &:hover {
            animation: none;
        }
    }
}

.clear{
    cursor: pointer;
    margin: 5px;
    color: $highlight-color;
    background-color: white;
    border-style: hidden;
}

footer{
    margin:10px;
    div{
        text-align: center;
    }
}

@media print{
    .no-print{
        display:none;
    }
    .tag:not(.selected){
        display:none;
    }

    @page {
       margin: 0.5cm;
    }

    h1 {
        page-break-before: always;
    }

    h1, h2, h3, h4, h5 {
        page-break-after: avoid;
    }
}