$icon-font-path: "~bootstrap/fonts/bootstrap/";

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin noselect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body{
    background: rgba(248, 248, 248, 0.21);
    //font-family: Verdana;
    min-width: 320px;
}

h3{
    font-size: 1.5em;
    color: grey;
    margin-top: 0px;
}

.blured{
    //color:red;
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.highlighted{
    font-weight: bold;
}

.hidden{
    display:none;
}

.tag{
    border-style: solid;
    border-width: 1px;
    border-color: #c9d1d6;
    margin:3px;
    padding:5px;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    @include noselect;
    &:hover{
        text-decoration: none;
        background-color: #dae2e7;
    }

    &.selected{
        background-color: #d9eaff;
        font-weight: bold;
    }
}

.summary{
    h3{
        display: inline-block;
        margin-right: 10px;
    }

    .roles{
        min-height: 38px;
    }
}

@include keyframes(pulse3d) {
    0% {transform: scale3d(1,1,1);}
    50% {transform: scale3d(1.5,1.5,1.5);}
    100% {transform: scale3d(1,1,1);}
}


.instructions{
    color:#8ebffb;
    display:inline-block;
    cursor: pointer;
    &.pulse{
        animation-name: pulse3d;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
    }
}

@media print{
    .no-print{
        display:none;
    }
    .tag:not(.selected){
        display:none;
    }

    @page {
        margin: 0.5cm;
    }
}